# Archivo de configuración para Render.com
# https://render.com/docs/blueprint-spec

services:
  - type: web
    name: api-php-carvy
    # Le decimos a Render que use Docker para el entorno
    env: docker
    plan: free
    # Ruta al Dockerfile que creamos. Render lo construirá y ejecutará.
    dockerfilePath: ./Dockerfile
    # Las variables de entorno se mantienen igual.
    # Debes configurarlas en el panel de Render.
    envVars:
      - key: ILOVEIMG_PUBLIC_KEY
        sync: false
      - key: ILOVEIMG_SECRET_KEY
        sync: false